[2017-09-23 15:24] JonasProgrammer opened #1 "Can't generate sketches"
[copy of https://github.com/JonasProgrammer/arduino-cmake/issues/7 by @Souler]

After the latest changes(e97627543505ecdc9247be595490a03b9e178028), cmake build broke (at least for me). Also, this same config works fine on version 144eccc08513026d881cb55023e0c343e7e9bc5b

**CMakeLists.txt**
[code]

**CMake output**
[code]

[2017-09-23 15:25] JonasProgrammer commented on #1
Well, I never used the sketch functionality, but from peeking at how it's implemented, your SKETCH parameter should be the directory containing the .ino file, rather than the file itself. Using this approach, generating works for me.

@MrPointer As you refractored that stuff, could you have a look at this please? Using the directory generating works, but the include statement for Arduino.h is gene

[2017-09-23 15:28] JonasProgrammer opened #2 "CMake generation fails to find Arduino SDK path"
[copy of https://github.com/JonasProgrammer/arduino-cmake/issues/6 by @MrPointer]

## Background
A while ago I've setup my work computer (Completely offline) to work with this fork, installing **Arduino 1.8.1** complete SDK, **CMake 3.82**, **mingw-64** as my build system and **CLion** as my IDE ***On a Windows machine***.

## Issue
Unfortunately, the very first **CMake** generation has failed, ye

[2017-09-23 15:28] JonasProgrammer commented on #2
Well, I haven't tested anything with a 1.8 SDK so far, but on both of my development machines the SDK is installed to a nonstandard location on another drive, so this shouldn't be an issue.

Have you set the ARDUINO_SDK_PATH environment variable to hint the SDK path for prior to generation?

[2017-09-23 15:29] JonasProgrammer commented on #2
[comment by @MrPointer]

@JonasProgrammer Yes, I did set the variable to the appropriate path.
I'm currently working on setting up a clean VM to investigate this further.

[2017-09-23 22:22] Souler commented on #1
As someone suggested (not sure if it was you) it is actually fixed if I change the `SKECTH` from
[code]
to
[code]

Still a bit weird it worked with the extension in the first place.

[2017-09-23 22:30] JonasProgrammer commented on #1
Yep, it was me. As stated, this suggestion was based soley on looking at the underlying cmake script. @MrPointer reworked the sketch part there on the 1.6 feature branch, so there might have been changes there.
As it worked with the full path before, I'm still not sure whether we should take this as a bug or a breaking change (which wouldn't be too bad considering we have no official releases atm)

[2017-09-23 22:39] Souler commented on #1
No, I did not include `#include <Arduino.h>` explicitly. But I did include `#include <SoftwareSerial.h>`, which implicitly does `#include <Arduino.h>`.

Just for the sake of testing I just ran both scenarios (implicit and explicit includes) and both worked fine with the lastest commit on this repo and arduino sdk1.8

[2017-09-24 19:03] MrPointer commented on #1
@Souler Does it mean that it builds successfully now both when using the directory path and the file path?
Or did you test it just for the directory path approach?

[2017-09-24 19:17] JonasProgrammer commented on #1
At least from my testing, the file path solution is broken whilst the directory approach works. And for him apparently only the directory works as well.

The explicit/implicit stuff seems to be another bug, where sketches can't be compiled after CMake generation due to the setup() function being defined before the Arduino.h-include. With "most" sketches that include headers other than Arduino.h an

[2017-09-24 19:19] Souler commented on #1
@MrPointer  When setting `SKETCH` to the directory where the the `.ino` file resides, it works fine. Setting `SKETCH` to the `.ino` file path itself, fails.

[2017-09-25 19:49] MrPointer commented on #1
@Souler I think I managed to fix this issue by forcing CMake to work on the directory, even when an explicit file is given. This is possible since the **generate_arduino_sketch** function finds all existing *.ino* or *.pde* files in that directory and then generates them as sketch sources.

Please have a look at f04faf8124e2bc6000a8c2a900f1d4786c5e7ef9 and tell me if it has worked for you so I wou

[2017-09-28 04:25] Baycken opened #4 "USB VID and PID for CDC"
I would like to implement custom VID and PID for USB CDC. I need this for the udev rules to distinguish multiple Arduino Leonardo connected to my robotics system.

The other option is to properly implemented the iSerial of the CDC, but that requires chances in the source code of arduino core which I think is more difficult.

Basically this involve adding some if statement in here.

And maybe add a

[2017-09-28 04:36] Baycken commented on #4
@JonasProgrammer
The VID had PID are compiler flag for the USB CDC [here](https://github.com/arduino/Arduino/blob/master/hardware/arduino/avr/cores/arduino/USBCore.cpp), so it only works for board with native USB such as Leonardo and Due. And you have explicitly define `USBCON` to make it work.

For board using FTDI chips or board using Atmega16u2/ATmage8u2, this compiler flag is simply ignored. A

[2017-09-28 05:27] Baycken opened #5 "1200BPS Touch for USB CDC upload"
Software resetting Arudino Leonardo is kinda weird. It require the serial port to be open to 1200 bps and set DTR to low, then the Arudino will reboot into bootloader mode and allow the code to be loaded to the Arduino. This step is not included in the AVRDUDE. So if I invoke -upload command for an Arduino Leonardo, I will have to manually reset the Arduino via the reset button.

This step can be

[2017-09-29 14:20] JonasProgrammer commented on #4
Fine then, we should implement this then I think.
The only thing I still really want to avoid is adding generate_arduino_firmware options that only work with certain boards and silently fail on others. So either the generation process should abort when an invalid board/option combination is detected (e.g. by parsing the boards file) or we should at least have a separate generation command with adv

[2017-09-30 20:14] MrPointer commented on #2
@JonasProgrammer I finally finished setting up the VM (Setting a Windows machine up-to-date is no joke...) so I could test the issue.
Well, having installed Arduino SDK to a non-standard location (D:\Arduino) as well as mingw-64 (D:\MinGW) and running a first test - CMake fails yet again with the same old issue.

Here's my modified **CMakeLists.txt** file (I use the one from the example):
[code]

[2017-09-30 20:32] JonasProgrammer commented on #2
Well, as for it running twice, I noticed that as well. I have no real idea why (I'm not that deep into CMake actually), but I actually had some issues with it. More specifically I put the whole part around [this](https://github.com/arduino-cmake/arduino-cmake/blob/f3a7ebb521da945a30855307daa0b8a4b2db2b35/cmake/ArduinoToolchain.cmake#L55)  solely because some variables weren't properly restored in

[2017-09-30 20:46] JonasProgrammer commented on #5
Phew, quite some very specific issue.

While in theory we could add board-specific genration commands, I think in practise this would get messy after some boards being added to it. The PID/VID stuff from #4 being added to some advanced command made sense, but solely restricting it to a certain board would lead to either if-cascades in the actual firmware generation process or duplicated code (whic

[2017-10-01 10:07] JonasProgrammer commented on #2
@MrPointer Can you give  9f8d220 a try?

[2017-10-01 17:42] MrPointer commented on #2
@JonasProgrammer  I tried both of your solutions, and here are the results:

1. Defining an environment variable named `ARDUINO_SDK_PATH` doesn't solve the issue in the old codebase - The one I've been using while discussing this issue.
2. While the environment variable has still been defined I tested the changes and it worked like charm. When I noticed that the environment variable is still there

[2017-10-01 18:11] JonasProgrammer commented on #2
Well that's strange. The environment variable always worked for me (I implemented it because I had exactly your problem). Could you provide exact system specs maybe? I've got it working with the environment variable on both windows and the Windows Subsystem for Linux; I wasn't bothered yet to dig out my linux laptop though.

And from my understanding, it's CMake common practise to store configurat

[2017-10-01 18:24] MrPointer commented on #2
@JonasProgrammer I meant I have reset the cache and reloaded CMake, not just reloaded, my mistake.
That's why it's even stranger - I know about CMake storing cache and all, but it should be all gone once reset.
## Update 1
I've managed to get back to a VM snapshot that I made and re-tested your changes, this time **without** setting the environment variable first - Worked like charm 👍
Also, when I

[2017-10-01 19:11] Baycken commented on #5
I dont think a complete command overwrite is necessary, as this is an extra step, and I am not overwriting the command for upload. A custom dependency may be the best option.

This is how I am doing that the moment:
Python:
[code]
 Then I added it as a custom dependency on my cmake:
[code]

[2017-10-01 19:31] JonasProgrammer commented on #2
@MrPointer So as far as I read your message you're also ok with the caching system that is currently implemented?

As for the environment variable: Keep in mind, that processes inherit their parent's environment variables and that system environment variables won't be refreshed during a processes lifetime (explorer.exe aside). This is especially annoying with Jetbrains Toolbox, as you have to clos

[2017-10-01 19:39] MrPointer commented on #2
@JonasProgrammer Yes, there's nothing wrong with the caching system - It works just like I expect it to.

And as for the environment variable - Your'e absolutely right about their inheritance between processes - Never thought about it, and as I do use **CLion** (Although this time without the **Toolbox**), it makes sense that resetting and reloading **CMake** caused no changes.

Now about the old

[2017-10-01 19:44] JonasProgrammer commented on #2
Ok, I'm giving up. I'll just let the old code behave strangely; if someone needs a nonstandard location they'll have to -DARDUINO_CMAKE_PATH in Cmake for it to safely work and that's it.

[2017-10-01 19:46] Baycken commented on #5
For Arduino version greater than 1.0.5, this process can be automated without needing an extra flags as the `board.txt` has the `<board_name>.upload.use_1200bps_touch` set to true for all boards that uses it.

The problem with upload is that you also have to know the port to upload to, which is different that the port you communicate with.

The Arduino IDE way of doing it is [really wonky](https:/

[2017-10-01 19:50] MrPointer commented on #2
@JonasProgrammer Agreed. No need to mess with old code after you've managed to fix it...

[2017-10-01 19:50] #2 closed, assigned to JonasProgrammer, MrPointer

[2017-10-04 16:13] ottojo opened #8 "Arduino Micro Reset Logic"
Apparently the Arduino Micro can not reset and go into bootloader automatically.
The Arduino IDE does this by opening a serial port with baud 1200 and immediately closing it
(https://arduino.stackexchange.com/a/21534/4486)

Can this be implemented into arduino-cmake?

I get this error message:
[code]

After multiple attempts at pressing the reset button at the right time it succeeded:

[code]

[2017-10-04 18:55] Baycken commented on #8
This is issues is the same one as #5.

[2017-10-05 13:57] Souler commented on #1
It worked fine, just in case I did a diff of both outputs (both using both directory and sketch).

[code]

[2017-10-05 19:03] MrPointer commented on #1
@Souler Merging fix into master. See #9 .
Thank you for finding this bug!

[2017-10-05 19:03] #1 closed, assigned to MrPointer

[2017-10-05 19:13] #8 closed, assigned to nobody

[2017-10-05 19:37] JonasProgrammer commented on #5
This seems to be a rather 'common' issue, now that it also occurs on the Nano. But I'm still unsure on how to properly tackle this.
The reset procedure itself is clear and detecting it for newer boards shouldn't be a problem; as there'd be BOOLEAN cache variable anyways, you could still always manually set it after the generate command for the older boards.

The implementation of the reset is what

[2017-10-05 20:20] Baycken commented on #5
I confirm that `stty` works for both MacOS and Linux to kick the device into bootloader mode, but with quirks.

On Mac (MacOS 10.12.6) I used `stty -f /dev/tty.usbmodem1411 1200 hup`.
On Linux (Ubuntu 16.04) I used `stty -F /dev/ttyACM0 1200 hup`

Note the different casing for `-f` and `-F`, they don't work otherwise.

[2017-10-05 20:37] MrPointer opened #10 "Should the project be refactored?"
Hello everybody!

It's been a long time now that I feel uncomfortable with the way this project is organized. My background is mostly high-level, OOP programming, and I truly believe in *Clean Code*.
This project that we got here is far from *Clean*.
Let me explain myself further:

- The entire project consists of only 2 files: The *Toolchain* and the main *CMake script*.
- The main *script* consi

[2017-10-05 20:46] Baycken commented on #10
It will be really nice to refactor the code. I always have difficulty to find exactly how and where things get set.

It would be nice to make this not a fork of previous repos, since search does not work with forked repos on github.

[2017-10-05 21:00] JonasProgrammer commented on #10
+1 for refractoring, it takes ages to alter behaviour and Ctrl+F is the most useful navigation tool right now.

I'd just like to have @Baycken's issues fixed first (I'll try to get it next week) so we don't have to upstream-port the stuff.

[2017-10-06 12:27] MrPointer commented on #10
@JonasProgrammer I have a lot of free time now and I would like to use it to refactor the project.
I think that merging the changes shouldn't be an issue as we'll work on 2 separate branches, and the `refactor` branch wouldn't be merged to `master` until all other features gets to be refactored as well.
Yes, it will consume us some time at the stage of the merging but I think it's better than wast

[2017-10-08 12:57] JonasProgrammer commented on #10
@MrPointer Sorry for the delayed response, but yes, in general I think you can just start off. Perhaps keep in mind we might need two separate commands for "normal" firmware generation and "advanced" stuff that might not work across all boards. Apart from that, could you maybe push the feature branch from time to time so I could try and fix the issues on the bleeding edge, rather than doing it in

[2017-10-08 18:58] MrPointer commented on #10
@JonasProgrammer Of course. I will constantly push the branch.

[2017-10-08 20:13] MrPointer opened #11 "Full Cross-Platform CI Configuration"
## Continuous Integration in Arduino CMake ##
### Current Status
Currently we have CI support only for **Linux** images, specifically *Ubuntu Trusty* (14.04).
I would very much like to see support for **Windows** and **OS X** as well, since this project aims to be completely cross-platform (After all, that's what CMake is made for).

### Windows Support
I don't know much about CI, but a quick rese

[2017-10-09 12:06] Souler commented on #11
On many of the open-source projects I follow, the **Windows** CI alternative seems to be [AppVeyor](https://ci.appveyor.com). Also, as you stated, **OSX** support can be achieved on TravisCI by tweaking the config.

About the extended Linux Support, I have no idea, never though about it, but **in my opinion it's not really worth worrying about it**. Our current CI linux build script makes use of t

[2017-10-09 18:55] MrPointer commented on #11
@Souler Thank you for your descriptive answer!
### Windows
I did checkout *AppVeyor. However, It seems to be able to run .NET code exclusively, doesn't it? I hope that I'm mistaken because it truly does seem very appropriate for the task.
### Linux
I agree with you 100%, it's just a package issue and should be out of the scope of this project.
### Summary
When you wrote that you can tackle it toni

[2017-10-09 20:31] Souler commented on #11
I'm working on both right now, but Travis OSX builds are painfully slow to start and still haven't been able to test if it actually works (I don't have a macosx device handy right now).

Also, I'm reading AppVeyor docs and even though it is not exactly thought for arduino-cmake scenario, I think it will work (my reference/inspiration for this is expressjs, btw).

[2017-10-10 14:36] Souler commented on #11
Travis CI with macosx support achieved [here](https://github.com/NewNetWay/arduino-cmake/blob/master/.travis.yml), take in mind that MacOSX build queue for travis.org is pretty slow.

On the windows side of the things... [here](https://github.com/NewNetWay/arduino-cmake/blob/master/appveyor.yml) is as far as I can get... I underestimated how weird things are under windows. Any help on this side is

[2017-10-10 17:12] Baycken commented on #11
What about Arduino versions? I mean, which versions of Arduino are we supporting, and should we check compilation on all supporting versions?

[2017-10-11 10:02] MrPointer commented on #11
@Souler Thanks again for supporting **OS X**! It's absolutely normal for the build to be slow since it creates a new VM on *every* new build (While the default option for e.g **Linux**, is to create a container image, which is *way* faster). Can you PR it to this repo?

As for **Windows**, simply by taking a brief look at  your [script](https://github.com/NewNetWay/arduino-cmake/blob/master/appvey

[2017-10-12 22:03] #10 closed, assigned to MrPointer

[2017-10-27 22:38] MrPointer commented on #11
@Souler Reminder. Can you please refer to my comment?
@JonasProgrammer As well.

[2017-10-28 08:49] JonasProgrammer commented on #11
The question, in my oppinion, is more like whether the work to get it running on old SDKs ist worth the outcome. I have no idea, how many people are using this right now, but it's likely in the one-digit range. And we're all using somewhat recent SDK versions.
If I interpret the Arduino versioning properly, the SDK versions correspond with the IDE versions. So according to IDE 1.8.4 all older boar

[2017-10-28 09:29] MrPointer commented on #11
@JonasProgrammer Agreed.
@Baycken Please have a look at the comment above, as it thoroughly explains out version-support methodology.

[2017-11-01 00:08] Souler commented on #11
Sorry for the delay, I have been busy lately. I've opened #15 with the OSX part.
Windows (build via AppVeyor) is giving me more trouble than expected, so I'm throwing a question to the air:

My current `appveyor.yml` (which causes the build to fail) can be found [here](https://github.com/NewNetWay/arduino-cmake/tree/ci-appveyor)

[2017-11-02 07:10] JonasProgrammer commented on #11
I'm working on a windows machine, so I could test the stuff.

[2017-11-03 17:55] JonasProgrammer commented on #11
@Souler: Have a look at this gist please: https://gist.github.com/JonasProgrammer/30eb204e54a1c4a76563b16081e2e730

As it stands, there seems to be something wrong with the AVR compiler collection delivered with 1.6.13 (haven't tried 1.8 yet). Not only does CMake fail to identify them, Windows also complained with a 'has stopped working' (thus indicating an uncaught low-level error like a segmenta

[2017-11-10 21:15] MrPointer opened #16 "Defining a style standard"
## No style standard ##
In the #13 PR an off-topic issue has been discussed, regarding the project's style standard.
As each one of us works with a different editor, whether it's a Text editor or an IDE, each also has its own style standard that it prefers over the others. As this is open source, it is totally acceptable, yet it creates some merging issues and conflicts that could easily be avoide

[2017-11-15 19:46] JonasProgrammer commented on #16
Regarding the basic formatting, I'm all for using editorconfig. It's simple and intuitive and covers the most basic flamewar potential (tabs vs. spaces, line endings and linebreaks at the file end ;) ).
It does not, however, provide a proper set of instructions regarding the programming language used. There are some proposed extensions for certain languages, but whether an editor in question imple

[2017-11-17 17:46] MrPointer commented on #16
@JonasProgrammer Fine, you've finally convinced me lol
Can you address this issue yourself? I think that you show more understanding on the subject and also have some vision of the applied style.

[2017-11-17 19:44] JonasProgrammer commented on #4
Will be in the upcoming v2 release as soon as #20 is merged and I can do things from there.

[2017-11-17 21:11] JonasProgrammer commented on #16
I'll try and get it done over the course of the weekend, though I have yet to figure out how to stop CLion from adding Objective-C code styles (read: dafuq?!)  when I only changed CMake related stuff. As for the .editorconfig, keeping the current indention style, going for LF and new line at EOF should be ok, I guess?

And speaking about a 'vision' is a little too much really, exporting the curren

[2017-11-18 12:47] MrPointer commented on #16
I didn't know how to replace the 'vision' word at the time, didn't mean to exaggerate lol
The Objective-C issue actually has some reason it it - After all, CLion is an IDE for multiple programming languages, with CMake probably being of the lowest 'priority'. I don't mind have some unrelated styles, because as you've already said before - It's just a small file that will probably never get updated

[2017-11-18 15:12] fraillt commented on #4
@JonasProgrammer there are two ways, to implement this functionality.
* add optional VID/PID parameters to all public API functions, OR
* add separate function that only responsible for setting VID/PID pair for a target.

I strongly prefer the second options, because this is advanced functionality that maybe 10% percent of users cares about, and documenting this kind of feature would also be simpl

[2017-11-19 18:29] MrPointer commented on #16
Solved in #21 .

[2017-11-19 18:29] #16 closed, assigned to nobody

[2017-11-19 18:31] MrPointer commented on #11
@Souler @JonasProgrammer Any updates on this side?
I really don't want to rely on @JonasProgrammer 's and mine ability to test thing on **Windows**. Someday we might stop supporting this project, and even though it doesn't seems very reasonable, there's a chance that there will be no one left to test things on the **Windows** side (Though it shouldn't matter that much IMO).

[2017-11-22 09:39] fraillt opened #22 "When is 2.0.0 version go live?"
Hello,
I want to further improve this project, by fixing multiple issues.
Ideally i would like to work on v2, when *feature/refactoring* branch will be merged to master.
Some of the issues that i want to fix:
* executable is bigger (+10%) with this project, then with Arduino IDE (windows)
* project doesn't compile when using *pulseIn* function.
* missing multiple defines, that a lot of arduino lib

[2017-11-22 10:03] noseglasses commented on #22
I also initially experienced bigger builds, but on Linux. I took a look at the symbols in the binary (`avr-nm -C <firmware binary>`) and compared the output with that of the same binary build with a arduino-builder. It thus turned out that the problem is related to some missing flags that suppress, e.g. generation of exception handling. I added the following flags to gain a binary whose symbols ma

[2017-11-22 20:26] MrPointer commented on #22
I believe it will be somewhere during the next week.
I'm doing my best to finish up "merging" @noseglasses 's work to the `refactoring` branch, but unfortunately I'm also releasing a big version at work, so I don't have much time to finish it this week, maybe in the weekend.
@fraillt As for your question, I think that the changes I'm integrating don't change much in the code that's currently in th

[2017-11-23 12:07] Souler commented on #11
I should be more free on Monday. I'll set up a PC at home with windows and try to get it working and then figure out how to translate that to AppVeyor. Sorry for the silence by my side lately!

[2017-12-01 13:01] MrPointer commented on #22
Hey guys, I've just created the [v2.0.0 release branch](https://github.com/arduino-cmake/arduino-cmake/tree/release/2.0.0) as a preparation for the final version release. The [Refactoring branch](https://github.com/arduino-cmake/arduino-cmake/tree/feature/refactoring) has been completely merged to the [Develop branch](https://github.com/arduino-cmake/arduino-cmake/tree/develop) as it's finished an

[2017-12-04 02:22] kigster opened #27 "Feedback/Collaboration offer — integration with an Arduino Library Manager "arli""
Hey guys, I am working on the project called ["Arli"](https://github.com/kigster/arli) — it's a simple command line tool for managing Arduino library dependencies with each project.

It works much like Bundler does, if you are familiar with the ruby world, and it is written in Ruby also. But you don't need to know any ruby to use it.

You can search for libraries using the published Arduino databa

[2017-12-04 18:59] MrPointer commented on #27
Hi @kigster , I looked at your project and read what you've written here and it all seems very interesting, but unfortunately I don't have enough time right now to collaborate or give any feedback.
I do hope that someone else here will have what I don't, and of course wish you the best of luck developing it further! And besides, if there's any feature your project requires from us, feel free to op

[2017-12-04 19:19] kigster commented on #27
@MrPointer — thanks so much for taking the time to review and reply. I know time is one of. E most precious and yet limited resource we all have :)

I’m pretty sure I can finish this myself, and perhaps I can use this issue to post short questions, etc.

My plan is the following:
 * Arli will generate a CMake include file that will build each library as a static .a library, using ArduinoCmake, and

[2017-12-05 00:50] kigster commented on #27
@MrPointer — thanks so much for taking the time to review and reply. I know time is one of the most precious and yet limited resources we all have :)

I’m pretty sure I can finish Arli - CMake integration myself, but perhaps I can use this issue to post short questions, should I get stuck? Another option is fo me to invite you guys to the [Gitter Chat room I created for this](https://gitter.im/ard

[2017-12-09 15:38] Nihlus opened #32 "Can't use Servo library"
Using the latest version of arduino-cmake from the `master` branch, I'm unable to use the `Servo` library that comes with the Arduino SDK. This is due to the lack of a defined processor architecture (in the case of my code which runs on an Uno, ARDUINO_ARCH_AVR).

If I manually define this in my CMake file, the project compiles but will not link (undefined reference to etc). If I manually add the

[2017-12-09 16:57] fraillt commented on #32
This issue is known, and i was trying to make it to 2.0.0 but unfortunately it was too late.
At beginning  of next week i'll try to make a pull request for future release, and hopefully it will soon be available on develop branch.
Stay tuned :)

[2017-12-09 16:59] Nihlus commented on #32
Superb, thank you :)

[2017-12-09 18:47] MrPointer commented on #32
@Nihlus Thank you for contributing the issue, it means a lot to us!
@fraillt Didn't we fix it already? Take a look at #23. It allows users to declare custom platforms, including architectures by setting the `PLATFORM_PATH` or `PLATFORM_ARCHITECTURE` variables.
What seems even stranger to me is that @Nihlus uses the default **avr** architecture, and it still doesn't work. I must be missing somethin

[2017-12-09 18:55] MrPointer commented on #22
Hello again everyone! @fraillt @JonasProgrammer @noseglasses @Baycken
I think we're finally ready to release, however, we lack good documentation.
I absolutely hate the current form of documentation, listing everything in the **Readme** file - It's wrong on so many levels, but it's the only thing we've got so far. I think that we should create a new documentation based on **Wiki Pages**, copying m

[2017-12-10 11:38] fraillt commented on #22
I would say, that currently most important is to focus on releasing new version first, and solving remaining issues.
I do agree that documentation could be better, but we could focus on it when we no longer have major issues.

[2017-12-10 11:43] fraillt commented on #32
`PLATFROM_PATH` ant `PLATFORM_ARCHITECTURE` is to be able to use non-standard avr core libraries.
This library doesn't compile for other reasons:
* `ARDUINO_ARCH_<architecture>` is not defined
* some newer libraries uses C++11 features (not sure if this is the case for servo library)
* `-fno-threadsafe-statics` is not added, which is required when using C++11 standard.

[2017-12-10 11:45] JonasProgrammer commented on #22
Tbh, I'd go with @fraillt here.

Everybody likes documentation but nobody likes documenting. And given that people were able to use this in the past, even with the little documentation available, I think this shouldn't be too much of an issue here.

With 2.0 going live, we can see how it does in the field. Documenting everything can be done in parallel. And if people open up issues that are not bu

[2017-12-11 10:52] fraillt commented on #32
@MrPointer @JonasProgrammer could you merge `release/2.0.0` to `develop`? I want to make a pull request to develop, but would like to avoid merge conflicts :)

[2017-12-11 19:52] MrPointer commented on #32
@fraillt I could, but this is just not how things are done in a **GitFlow** environment. The `release` branch would be automatically merged to the `develop` branch once it's actually releases (Meaning it's also merged to `master`). Playing with those merges now will not play nicely when reviewing Git's history at a later stage, and will also break the flow.
I suggest you to PR to `develop` anyway,

[2017-12-11 19:55] MrPointer commented on #22
@fraillt @JonasProgrammer Thank God you both think this way, cause I do too :)
If so, I make some final refinements and we'll be releasing right now!

[2017-12-12 07:03] fraillt commented on #32
Since we're finally releasing 2.0.0, so I'll just wait when develop branch will be updated :)
My implementation depends on the changes in `release/2.0.0` so I already merged it to my branch :(
... so I'm afraid that if I do pull request to current `develop` branch it will be hard to track what my actual changes are.

Regarding `ARDUINO_ARCH_<arch>` flag, yes, I implemented it using `PLATFORM_ARCHI

[2017-12-13 01:23] robotdad opened #34 "Support for additional boards"
Just stumbled across this project, it looks great. I just tried the 2.0 branch but it seems neither it or the current branch support additional boards installed via adding additional board manager urls, for example  ESP8266 support. Is this something that is already on your radar?

[2017-12-13 01:34] robotdad commented on #34
Was just playing around a bit more and realized only boards installed in the Arduino IDE directory are detected, at least on Windows. Boards installed later, whether through additional board urls or official ones, are installed on Windows in %localappdata%/Arduino15/packages.

[2017-12-13 20:07] MrPointer commented on #22
See #33.

[2017-12-13 20:07] #22 closed, assigned to nobody

[2017-12-13 20:11] MrPointer commented on #34
Thanks for contributing the issue, we really appreciate it!
Personally I didn't know about it, but it's definitely something that we'll consider to implement in the next version. I see a lot of benefit in doing so, including to my colleagues who work with various ESPs as well.

I'll keep this issue open for now and return to it once we'll be ready to address it. I hope that you'll still be around

[2017-12-13 21:15] robotdad commented on #34
I may take a crack at it myself ver the holidays if all that is needed is an ifdef for Windows and specifying an additional directory.

[2017-12-13 21:53] MrPointer commented on #34
LGTM, though I'd still like to know more on the subject.

[2017-12-14 07:14] fraillt commented on #34
I think that currently only AVR boards are supported.
While in theory, you can rewrite `ArduinoToolchain.cmake` to add support your board, but there will be some issues:
* compile/link flags are hardcoded only for AVR (this project doesn't parse platform.txt)
* boards parameters are not customized enough, only CPU can be customized.
* auto-library detection doesn't care what board architecture is

[2017-12-14 11:23] MrPointer commented on #32
@fraillt `develop` has been updated to the latest release now - Fell free to PR.

[2017-12-15 07:02] fraillt commented on #32
@Nihlus could you please try `develop` branch, and see if it works for you?

[2017-12-15 07:04] fraillt commented on #4
@Baycken could you please try `develop` branch and see if it works for you?
There is a new function to customise USB properties, see `example/CMakeLists.txt`

[2017-12-15 13:34] Nihlus commented on #32
@fraillt I'm afraid not - the same issue is present. In addtionl, the latest commit from the `develop` branch causes another issue, I'm afraid, which precludes me from using it at all. The `link_directories` appears to have stopped working, and my includes are no longer resolving properly.

[2017-12-15 14:20] fraillt commented on #32
I tried [your project](https://github.com/Nihlus/Skalleper) and it works for me :)
I copied `setup` and `loop` from `Skalleper.ino` to `Skalleper.h`, commented out usages of your Chrono and StandardCplusplus libraries, and it worked, everything compiled including servo library.
I used the following `CMakeLists.txt` configuration.

[code]

but I notices what should be changed, I should avoid using

[2017-12-15 15:03] Nihlus commented on #32
I did the opposite - I commented out all references to the external sources, and only used the sketch file (in a new firmware target that only included the sketch). The servo library would not link in that instance.

[2017-12-15 16:27] fraillt commented on #32
I think, that when you use SKETCH you can't use your other sources, so you'll get errors at link time for `Skalleper` class. Maybe I'm wrong, and someone can correct me on this.
Have you tried my way, did it worked ? :)
Btw, from what project are these `Chrono` and `StandardCplusplus` includes, is it somewhere on the github ?

[2017-12-16 20:34] MrPointer commented on #34
@fraillt If so, what does `RegisterCustomHardwarePlatform` is used for?
Again, I'm not an expertise on the subject - Does a different board type (Such as ESP) necessarily means that it has its' own platform? If not, how does it differentiate then from "typical" boards such as the **uno, nano, etc**?

[2017-12-18 06:47] fraillt commented on #34
`RegisterCustomHardwarePlatform` no longer exists, it was refactored to script `RegisterSpecificHardwarePLatform`, however, for ESP it will not work.
ESP has different tools, different link libraries, different compile flags, etc... and all of these are hardcoded in multiple places in our project.
It would be a big work to support all of it, and I think we would need to create an app/script that w

[2017-12-19 08:47] MrPointer commented on #11
Windows support through **AppVeyor** has finally been added in #36, closing.

[2017-12-19 08:47] #11 closed, assigned to nobody

[2017-12-21 18:29] MrPointer commented on #34
@fraillt Of course, I meant the script `RegisterSpecificHardwarePlatform` as I'm the one who converted it in the first place 😆
As for your proposition, I'm against any involvement of other tools/languages/dependencies other than **CMake** in this project, or in sub-projects. I don't believe that parsing the `platform.txt` file would be such a hard task that couldn't be accomplished with CMake alon

[2017-12-21 19:17] robotdad commented on #34
I for one would lose interest in this if it took dependencies on anything beyond cmake. This discussion of what the issues are is very informative, thanks. I have not had a chance to start digging into this yet myself.

BTW, on the Mac additional boards go to $HOME/Library/Arduino15/

[2017-12-21 21:48] MrPointer commented on #27
@kigster Finally had some time to review your work more thoroughly.
I'm having a bit of a hard time understanding where is your problem, and what keeps you from using the `cmake` **lock-file**.
If I understand correctly, you simply need to include the lock file in a desired `CMakeLists` file and reference the libraries pointed out by that file. I've created a [gist](https://gist.github.com/MrPoint

[2017-12-21 23:33] kigster commented on #27
Is there a way to transfer the issue automatically? Or do you mean, copy/paste comments?

Either way — thank you for your help and I will move the discussion over.

[2017-12-21 23:52] MrPointer commented on #27
Not one that I'm aware of, at least.
Just put a link there, probably will be better than just copy-pasting.

[2017-12-22 14:53] noseglasses commented on #34
I agree. We should definitely try to do as much as we can based on CMake. Using external tools alway causes problems with finding the appropriate paths and executables on all supported platforms. That can be a nightmare.

[2017-12-23 00:58] kigster commented on #27
Closing issue, as the discussion is moving to [arli issue](https://github.com/kigster/arli/issues/3) or alternatively this [chat board](https://gitter.im/arduino-cmake-arli/).

[2017-12-23 00:58] #27 closed, assigned to nobody

[2017-12-23 01:01] kigster opened #45 "Add an example that uses a third party library"
The current example is fully self-contained, while most real Arduino sketches rely on various libraries.

Would it be possible to add an example that uses a well-known and properly maintained external library?

It would be particularly useful (to me at least) if the example `CMakeLists.txt` file could specify the top-level folder where the libraries live, so that it can be set to either

 * a glob

[2017-12-23 15:29] MrPointer commented on #45
You're absolutely right. In fact, we're currently undergoing some re-documentation processes, striving at better documentation using **GitHub Pages**, rewriting the **README** to contain only useful information, navigating to various pages when required.

Let's get to the point.
The way **Arduino-CMake** links external libraries today is actually written in the **README** file, but probably not as

[2017-12-23 22:38] kigster commented on #45
Gotcha. Thanks for all the help.

I have my first integration project working now, please check out [arli-cmake](https://github.com/kigster/arli-cmake) which adds a couple of cmake helpers to avoid doing the long includes.

[2017-12-24 14:13] kigster commented on #45
I have completed my project integration, and now you can do the following:

[code]
It will automatically detect the USB serial port (as long as there is only one), and use Arli to download and install all of the dependent libraries.

This relies on three projects:
 * [`arduino-library`](https://github.com/kigster/arduino-library) is a Ruby gem that handles searching and downloading JSON database

[2017-12-25 04:32] kigster commented on #45
Please checkout this project — [WeatherPod](https://github.com/kigster/weather-pod) which was built using `Arli` project generator, that uses `arli-cmake` repo, which in turn uses this repo :)

![weather-pod](https://raw.githubusercontent.com/kigster/weather-pod/master/doc/weather-pod.jpg)

[2017-12-25 20:24] MrPointer commented on #45
Looks great! I'm very happy to see it finally works!
Glad I could help a bit :)

[2017-12-25 20:24] #45 closed, assigned to nobody

[2017-12-29 07:26] fraillt commented on #34
Using external tools is not necessary a bad thing, it could be hidden from the user anyway.
Arduino IDE has a bundled java-runtime, so if we build something with java, users don't even have to know about it, as long as they provide correct path to Arduino (which they must do it anyway). Furthermore, such a tool could be used by Arduino itself.
Image, you open Arduino IDE, select your board, click

[2017-12-29 14:21] MrPointer commented on #34
@fraillt What if the Ardunio SDK could be downloaded without the IDE? then you would run into a serious problem, and we don't want that...
Like @robotdad has said - Many people will loose interest in the project because of this. This isn't something that difficult to achieve with CMake, we just need to focus on it when the basics will become stable.

And yes, integrating this project in the Arudin

[2018-01-02 21:24] aog2000a opened #49 "Support for referencing other variants in boards.txt"
The **boards.txt** file allows the following syntax
`pinoccio.build.core=arduino:arduino`
to reference a core e.g. from the main Arduino SDK (see [this](https://github.com/arduino/Arduino/wiki/Arduino-IDE-1.5-3rd-party-Hardware-specification#referencing-another-core-variant-or-tool) for the detailed description). Currently arduino-cmake chokes on that syntax, since it preserves the full variable a

[2018-01-03 10:34] aog2000a commented on #32
At least using the current head of the "develop" branch, i needed to add
`set(Servo_RECURSE True)`
besides the already mentioned define:
`add_definitions(-DARDUINO_ARCH_AVR)`
for the build to succeed (trying just with the 10.StarterKit_BasicKit/p12_KnockLock/ example in the Arduino IDE package, which uses Servo).

[2018-01-05 13:00] MrPointer commented on #49
Sorry for being so late, have been very busy these days.

Actually this issue has been solved even before releasing **version 2.0.0**. If I recall correctly and understand your meaning well, #23 states exactly what you're trying to accomplish.

Unfortunately our documentation is still a mess that should be corrected ASAP, and will be once I'll have more time to deal with it. For now, please relate

[2018-01-05 17:45] MrPointer commented on #32
@aog2000a This has been known actually and listed in the **README** (Our current source of documentation as well). However, I did notice that this issue comes up very often lately, so I've decided to list **ALL** recursive "standard libraries" instead of just a portion of them, so that libraries like `Servo` are automatically defined to be `RECURSE`.
This change is already available in the `develo

[2018-01-05 18:12] aog2000a commented on #32
@MrPointer Thanks! yes, i took the info from the readme. My comment here was more "for completeness" regarding the title of this post: "Can't use Servo library", in case other people find this via "googling".

[2018-01-05 18:19] aog2000a commented on #49
@MrPointer well, yes i'm aware of the ReadMe file and contents, but i could not manage to get cmake/build running by just "registering a custom platform". I needed not only the patch i posted above, but also several other "unexpected" variable definitions not mentioned in the docs. I've come further but it is still failing at linking, i guess i still need to find the right `set(xxxx_RECURSE True)`

[2018-01-06 00:40] aog2000a commented on #49
@MrPointer the details of the problem, as promised.

Concretely i talk about getting code for the "Pinoccio" platform to run (based on ATmega256RFR2, see https://pinocc.io/solo for  details). The platform files are: http://pinocc.io/bootstrap/pinoccio-firmware.zip

For instance the "LEDBlink" example inside will work without issues in the Arduino IDE.

In arduino-cmake i can't get it to work "out

[2018-01-06 01:56] aog2000a commented on #49
Summary:

- i needed my patch or modifying the boards.txt file to remove the "arduino:" piece.
- as soon as i define `PLATFORM_PATH` i needed to also define all 4 variables `ARDUINO_*_PATH`, even if the `ARDUINO_SDK_PATH` variable was still defined
- i needed to define `PINOCCIO_CORES_PATH` explicitly, i would expect that `ARDUINO_CORES_PATH` is used as fall back location

[2018-01-06 11:59] MrPointer commented on #32
@aog2000a Got it, thanks!

[2018-01-07 01:08] RomanKovtyukh opened #52 "Build project with ArduinoUnit."
Hello, I'm trying to use arduino-cmake in clion. The problem appeared when I tried to compile my unit tests with arduino-cmake. I'm using [ArduinoUnit](https://github.com/mmurdoch/arduinounit) v2.0 in my
tests. Even sketch from "getting started" doesn't compile.

First of all I renamed library folder from arduinounit to ArduinoUnit just to make arduino-cmake find it.
ArduinoUnit library was added

[2018-01-07 01:11] RomanKovtyukh commented on #52
Now I just tried to add ArduinoUnit to standard directory with libraries and added line
[code]
to cmake/platform/Arduino.cmake.
Now I got the following output:
[code]

[2018-01-07 22:06] MrPointer commented on #52
@Grandmother Thanks for contributing to **arduino-cmake**! We value it very much :)
Personally I never tried writing any unit tests for Arudino, and in fact I'm not an Arduino developer at all, just happened to take "ownership" of this great project and help maintain it.
I'll try to tackle your problem myself in the following days hoping to give you a quick solution. Something's telling me our bad

[2018-01-08 14:48] noseglasses commented on #49
pinoccio.build.core=arduino:arduino
to reference a core e.g. from the main Arduino SDK (see this for the detailed description). Currently arduino-cmake chokes on that syntax, since it preserves the full variable and can't find the corresponding folder.

That's odd as this problem was addressed by #19. The relevant change was kindly considered by MrPointer during his v2.0 refactoring. It ended up [

[2018-01-08 18:09] aog2000a commented on #49
@noseglasses  No, i just set the PLATFORM_PATH variable as mentioned in the README. My CMakeLists.txt has this piece:

I actually debugged the issue by adding MESSAGE() lines in the arduino-cmake code, and could see that the "arduino:arduino" value in build.core was causing the
`find_sources(CORE_SRCS ${BOARD_CORE_PATH} True)`
line in Platform/Core/Libraries/CoreLibraryFactory.cmake to fail.

[2018-01-08 22:54] noseglasses commented on #49
Please have a try with including `cmake/Platform/Initialization/RegisterSpecificHardwarePlatform.cmake` to register your custom hardware.

[2018-01-09 08:35] MrPointer commented on #49
@aog2000a You're right, currently there **is** a problem making it work for a platform like **pinoccio** that doesn't define any cores of it's own but rather uses the Arduino's ones.
I'm currently working on a fix that will default to the Arduino hardware platform if required parts such as `core` and `bootloader` aren't found in the given custom platform.

[2018-01-11 20:32] MrPointer commented on #49
### Update
I've managed to add some code to resolve 3rd party platforms to the default **Arduino** platform automatically if required to, and it works perfectly when reloading CMake, however, fails on the build.
I don't have much time this weekend to address it further, maybe not even to share the build's failure reason. I hope that will change 😃

[2018-01-12 09:05] noseglasses commented on #49
@MrPointer: My PR #55 contains a [commit](https://github.com/arduino-cmake/arduino-cmake/pull/55/commits/f441feaec7b1503eb558e985648007fb51435c81#diff-07edf1f8f0cf9043ccebd5dace3ac70cR45) that maybe related as it reads `platform.txt` (the very bottom of the commit in `RegisterSpecificHardwarePlatform.cmake`). If your approach is better, I will remove this commit.

[2018-01-14 20:27] MrPointer commented on #49
@noseglasses I took a look in that PR but it doesn't seem related to the issues I'm trying to solve.
Finally I got some time to finalize the code base so others can look at it and help further. Please take a look at my [Private Fork](https://github.com/MrPointer/arduino-cmake/tree/feature/3rd-party-platform-support) containing my work on the subject.

Basically I've added code that treats all 3rd

[2018-01-14 21:03] MrPointer commented on #52
@Grandmother Sorry for keeping silent, I still couldn't find any time to check this. Will do in the following week though!

[2018-01-15 09:43] RomanKovtyukh commented on #52
@MrPointer, I can put the simplest test to GitHub to save your time and boost this issue solving process)

[2018-01-15 17:53] MrPointer commented on #52
@Grandmother I'd like that very much, thanks!

[2018-01-23 05:45] MrPointer commented on #52
@Grandmother Just a reminder to make my life easier 😄

[2018-01-24 12:24] RomanKovtyukh commented on #52
Hi. [Here](https://github.com/Grandmother/arduino_unit_cmake_test) is the simplest test case.
The ArduinoUnit library is included in source tree (I just got everything from src directory of project).
The project has two commits. In the initial commit we have no changes in ArduinoUnit tree.
In second commit I just moved ArduinoUnit.cpp to the root directory of library.

Try to build both commits pl

[2018-01-24 18:28] noseglasses opened #59 "Explicit use of -I<include dirs> prevents correct use of response files"
In many places in Arduino-CMake, include directories are explicitly added to target COMPILE_FLAGS properties using `-I...`. This is not the correct way it is supposed to be done with CMake.

Include directories are either meant to be added with `include_directories(...)` (global) or `target_include_directories(...)` (target-wise).
When added correctly, include directory specifications can be added

[2018-01-26 10:22] MrPointer commented on #52
Hi, I'm currently focusing on re-writing the project's documentation so I'm really low on time.
I believe the documentation is one of the most important things in any project, and since the current documentation is all packed-up in a single ReadMe file and is also a bit outdated, the documenting process requires extra time & effort.
In other words - I don't have time right now to address the issue

[2018-01-26 10:27] MrPointer commented on #59
Hmm, very interesting... May it be somehow related to the issues I had in #49 ? Look at my latest comment, I also tagged you there.

The fix you propose seems to be the right one, at least I myself don't see anything different. Could you fix it yourself?

[2018-01-26 11:57] noseglasses commented on #59
Not sure about the issues in #49.

As explicit definitions of `-I...` are scattered all over Arduino-CMake, I do not dare to fix it at large scale as I cannot test the changes appropriately.

Although I cannot offer a fix for the overall problem, I can at least provide one that minimizes the number of `-I...` command line entries as a temporary fix. The idea is to take the final `COMPILE_FLAGS` pr

[2018-01-29 00:07] kigster opened #67 "A simple project, when compiled using arduino-cmake, does not fit on the board."
I have been working on a project, which I [extracted into a standalone repo](https://github.com/kigster/arduino-cmake-oversized-image).  It's based of the `arduino-cmake` repo and follows the same structure.

Inside is the `NeoCube.cpp` — a piece of logic controlling NeoPixels using the `WS2812FX` effects library.  The library does mention that it's big, and even has a `#define` that says:

[code]

[2018-01-29 09:56] noseglasses commented on #67
It seems that Arduino-CMake compiles stuff that is ignored by Arduino SDK.

To find out what it is, you could use the following command to generate a list symbols for both builds, the Arduino SDK's and Arduino-CMakes's.
[code]

When you have two symbol files `symbols1.txt` and `symbols2.txt` you can simply diff the two files or use a tool like *meld* to compare them, to find out what is compiled w

[2018-01-29 20:09] MrPointer commented on #32
@Nihlus Whats up? Just a reminder that you owe us an update on your status 😉

[2018-01-30 16:20] Nihlus commented on #32
@MrPointer I'm still unable to test the library loading fixes, ~~due to the other blocking issue where adding new link directories aren't recognized.~~

Edit: Scratch that, I dropped my `include_directories` statements somewhere. However, I still can't link against the libraries.

[code]

Setting `Servo_RECURSE` to true resolves the problem for Servo, but not for Chrono. I tried `Chrono_RECURSE` w

[2018-01-30 16:40] kigster commented on #67
Ok I’ll provide this info shortly

[2018-01-31 20:03] MrPointer commented on #32
@Nihlus Well, the **Chrono** and **StandardCplusplus** libraries are not recursive at all, so I can see why setting the `RECURSE` flag on them didn't work. A recursive library is one that defines _at least_ one source/header file inside a sub-directory.
Could you post your `CMakeLists.txt` file's content please?

[2018-01-31 21:19] Nihlus commented on #32
Certainly.

[CMakeLists.txt](https://github.com/arduino-cmake/arduino-cmake/files/1683367/CMakeLists.txt)

[2018-02-02 14:45] MrPointer commented on #32
I got a look at it and there are few things that caught my eye as being the potential problem:

1. Why do you use `include_directories` and then `link_directories`?
In our case only `link_directories` should be used.
2. All the `CXX` flags your'e setting are already set by default by **Arudino-CMake**.
3. Whats is the purpose of the `add_definitions(-DARDUINO_ARCH_AVR)` line?
There's a comment say

[2018-02-02 17:27] Nihlus commented on #32
1. I use CLion, which relies on it for static inspections and autocomplete.
2. They weren't in the past :) Glad to hear they're there by default now!
3. The incorrect arch workaround is for the Servo library. If it is not defined manually by me, it fails on build with the following error:

[code]

4. Without including the sketch as both a sketch and a source file, CLion once again does not recogni

[2018-02-02 19:15] MrPointer commented on #32
I also happen to use CLion but I never heard of it. It should provide those features upon successful linkage.

Have you updated **arduino-cmake** to its latest version? I'd try to clone the `develop` branch as it has introduced many important improvements and bug fixes since the latest stable release, 2.0.2.

[2018-02-02 20:16] Nihlus commented on #32
Yes, I'm currently using the latest `develop` branch.

[2018-02-03 11:49] MrPointer commented on #32
@noseglasses Any idea?

[2018-02-03 11:57] MrPointer commented on #59
Temporarily solved in #62, closing for now.

[2018-02-03 11:57] #59 closed, assigned to nobody

[2018-02-04 16:54] noseglasses commented on #32
Sorry, I suppose I can't help much.
The only idea I had is that CLion might be fooled by putting stuff in a function that is never called. This is based on the assumption that CLion does its own parse of your CMake files. If the parser is simple enough, it does not check if a function is actually called.
This might help you with issues 1. and 4. But I am not a CLion user, so this is just a wild gu

[2018-02-06 05:27] MrPointer commented on #32
@Nihlus This is going to sound a bit foolish, but have you reset CMake's cache and reloaded it after pulling the `develop` branch?

[2018-02-06 06:37] per1234 commented on #52
The first problem was caused by the use of incorrect include syntax in the ArduinoUnit library (see: https://github.com/mmurdoch/arduinounit/pull/69). `#include "foo.h"` syntax should be used for internal includes of libraries. This is a common problem in Arduino libraries because if they are installed in a standard libraries folder the incorrect syntax doesn't cause a problem (as you later discov

[2018-02-06 08:40] Nihlus commented on #32
Yes, I have.

On 6 Feb 2018 06:27, "Timor Gruber" <notifications@github.com> wrote:

[2018-02-06 09:25] noseglasses commented on #52
This is the CMake file that is responsible for finding libraries:

https://github.com/arduino-cmake/arduino-cmake/blob/develop/cmake/Platform/Core/LibraryFinder.cmake

You could add some debug statements `message("...")` to find out where/why Arduino-CMake picks up the meta folder. You could also add `arduino_debug_on()` to the top of your CMakeLists.txt file to get more verbose output during conf

[2018-02-10 09:15] kigster commented on #67
I was able to run the command on both `elf` files, and then I removed the first column, and printed the rest sorted and uniqed. Here is the full command:

[code]

Then I took a diff of the two files, first one being cmake version, and so the diff is below:

[code]

[2018-02-10 09:33] kigster commented on #67
I put both elf files in the tar available here: [https://kig.re/downloads/NeoCircle-elf.tar.gz](https://kig.re/downloads/NeoCircle-elf.tar.gz).

[2018-02-11 06:47] adolfogc commented on #49
Hello. I'm also having this issue, only that I'm using the [Controllino](https://controllino.biz) platform. I was trying to get around this issue using the workaround mentioned by @aog2000a in a previous comment, but it still isn't working. Below are the contents of my CMakeLists.txt file:
[code]

One thing to note is that neither `print_board_list()` or `print_programmer_list()`  produce output.

[2018-02-12 13:45] fraillt commented on #67
Looks like there are no optimizations applied
maybe `cmake -DCMAKE_BUILD_TYPE=Release ..` would help?

[2018-02-13 07:22] mean00 opened #73 "Split files per platform"
Hi
I've made a proof of concept regarding adding very basic STM32 board support for arduino cmake
(other platforms would be "easy" to add after that).
Before going forward, there is something i'd like to propose that would make later pull request much easier:

split file per platform

Some files are very tied to a specific platform : ArduinoToolchain.cmake, ArduinoBootloaderUploadTargetCreator etc

[2018-02-14 18:22] MrPointer commented on #73
@mean00 Thank you for investing time in this, and contributing again 😃

While the idea is good, from my understanding it means that you plan to handle every platform on its own, and that is... not such a good thing, even in a system like cmake which doesn't have real generics and such.

Take a look at #34 which discusses exactly that - We aim to develop it with "full-power" once the project finall

[2018-02-14 18:34] mean00 commented on #73
Hi
The idea is to break the build into generic part and specific part
The generic part is common and shared by all platforms
The specific part is specific to each platform (compiler, linking uploading)

If you look at my Poc, you'll see that there was about 6 files changed and it now works fine on STM32 and  AVR now ( with the limited testing i've done), i've been playing with my STM32 for just a

[2018-02-14 18:37] mean00 commented on #73
Ah sorry, i thought you were mentioning the ESP32 support PR.
Which, if i understood it correctly, was to better derive what to do from the arduino configuration files
(not sure i got it right)

[2018-02-15 09:24] noseglasses commented on #73
I would prefer to aknowledge Arduino's build files (platform.txt, etc.) as interface and concentrate on correctly parsing and supporting those. This way, by having as little platform specifics as possible mapped to CMake code, I expect Arduino-CMake to stay maximum extensible. Our long term aim would be to support any new platforms out of the box as long as their specification adheres to the Ardui

[2018-02-17 08:57] mean00 commented on #73
Fair enough. I'll close that issue, as it is now irrelevant.

[2018-02-17 08:57] #73 closed, assigned to nobody

[2018-02-20 01:12] DavidFair opened #75 "Board info not found during generation"
CMake fails to find a target for the `mega2560` target. I've tried with targeting the uno too which generates the same error message.
I've also tried specifying the BOARD and BOARDCPU together (which leads to the BOARDCPU argument not parsing and failing).

This works with the original project and compiles correctly, however I have not managed to get the fork work at all. The error is as follows:

[2018-02-20 08:12] noseglasses commented on #75
Could you please specify what you mean by "the original project"?

It seems, you used the master branch of this repo. Could you please try the develop branch instead, which is a complete refactoring and the basis for future development.

[2018-02-21 05:33] MrPointer commented on #75
@noseglasses Well he isn't completely wrong is he? The `master` branch is set to the latest release, which should support `BOARD_CPU` seamlessly.
@DavidFair Personally, I suspect that the source of the problem is in your SDK version. Could you please update to the latest SDK and then try to rebuild the project?

[2018-02-21 08:46] noseglasses commented on #75
Good point. No, of course he is not wrong, when it comes to the master branch.

I am still curious about the original project because there are myriads of forks of the original arduino-cmake repo.

[2018-02-21 09:21] noseglasses opened #76 "Joining forces on Arduino-CMake"
Github's repository fork diagram of Arduino-CMake (https://github.com/arduino-cmake/arduino-cmake/network/members) shows that there are currently more than 170 forks of the original project listed on Github. Some of these seem to have been abandoned, others appear to be under active development.

While our version of the project is not the one with the greatest number of sub-forks, it seems to be

[2018-02-21 23:57] DavidFair commented on #75
I'm not sure what has changed but I did the following:

After checking out `develop` it correctly generated the targets. However after checking out `master` to complete a bisect it now works.... so I'm not sure what has changed locally.

To answer the remaining questions:

https://github.com/queezythegreat/arduino-cmake

I was about to check how SDK version affected CMake however now it works I ca

[2018-02-24 11:35] Koekelas opened #77 "Board info not found"
OS: Linux
Arduino SDK: 1.8.5-2017.01.09

# How to reproduce
[code]

CMake output:
[code]

# What I tried
Before yesterday, I had never seen an Arduino or heard of CMake. I have no idea what I'm doing.

Looking through CMakeCache.txt, I noticed:
[code]

Which led me to:
[code]

archlinux-arduino is similar to the default Arduino platform in structure and contents:
[code]

Just to be clear, I only h

[2018-02-26 19:35] MrPointer commented on #76
I'm really sorry for being so late to the party, been really busy lately and still am.

I completely agree with you, and in fact I thought about it myself but never had the chance to actually do that. What bothers me the most is the fact that our project is not yet stable, and we don't have at single version that could actually be shipped with confidence. Until then, I'm not sure we can be taken s

[2018-02-27 09:20] noseglasses commented on #76
Sounds good.

[2018-02-27 19:06] Avamander opened #78 "Example how to use this to develop a library"
I'm currently trying to get this working with CLion to develop this [multiarchidectural library](https://github.com/nRF24/RF24) nicely. Has someone gotten syntax highlighting (and building examples) working with CLion and could provide an example of the cmakefile? Getting just the examples individually to build was easy, but the examples is not what I want to write with syntax highlighting and the

[2018-03-02 22:25] Green0Photon opened #79 "Support CLion"
The reason why I found out about this project was because of the CLion Arduino plugin. The plugin is mostly dead because arduino-cmake was dead. Now that this has been resurrected as an official project, I think it would make sense for this organization to potentially take that up too.

I have no idea whether anyone in this project even has the required CLion experience, but I figured I would let

[2018-03-03 02:26] Green0Photon opened #80 "Adafruit Circuit Playground Board doesn't compile"
The arduino I've been trying to get to work is `circuitplay32u4cat`. To test like I have, I simply changed the board in the example target `blink_example` to `circuitplay32u4cat`. It fails for any example you choose though.

When building, the build fails on `${ARDUINO_SDK_PATH}/hardware/arduino/avr/cores/arduino/USBCore.cpp`. This is in the target `circuitplay32u4cat_CORE`.

[code]

Look at that

[2018-03-03 19:19] MrPointer commented on #79
Hello there and welcome aboard! Glad you discovered our fork and decided to give it a try 😄

As for your request - Personally, I use CLion to develop in general and this project specifically, and I can assure you that there are multiple other guys here that use it as well - So you're in good hands 😉
Moreover, I thought about it myself as I stumbled across this plugin too, realizing it's quite dead

[2018-03-05 16:31] DavidFair commented on #75
Reopening this:
` ... I suspect it was an issue with the git submodule. `
The git submodule kept pulling it back to commit a8b3761 which works hence the bisect did not work. Pointing to a normal git repo meant the bisect worked correctly.

This regression was introduced by 17d60ad :
[code]

The previous commit correctly configures. After this commit the `ARDUINO_BOARDS_PATH` `ARDUINO_BOOTLOADERS`

[2018-03-05 16:42] DavidFair opened #81 "CMake Compiler flags duplicated and user set flags not respected"
Currently in `cmake/Platform/Initalization/SetupCompilerSettings.cmake` we duplicate a lot of the flags, for example looking at the `CMAKE_C_FLAGS`:

[code]
We set `-g {ARDUINO_C_FLAGS}` on all targets despite the fact that is what `CMAKE_C_FLAGS` is for [(doc)](https://cmake.org/cmake/help/v3.11/variable/CMAKE_LANG_FLAGS.html#variable:CMAKE_%3CLANG%3E_FLAGS). This makes the verbose make output di

[2018-03-05 16:46] DavidFair commented on #77
This looks like a duplicate of #75 - could you do the following to check that it is the same commit which has regressed for you (I've adapted your original example):

[code]
This should correctly configure

Then try
[code]

This should fail? If so we are both experiencing the same issue

[2018-03-06 11:46] Koekelas commented on #77
Checking out 188a831 and building blink_example outputs:
[code]
arduino is still symlinked to archlinux-arduino.

[2018-04-12 20:20] Sheridan commented on #75
Found.

Try this:

[code]

[2018-04-15 19:29] necauqua commented on #79
For me, having Serial Port Monitor plugin and this project is enough for CLion.
Can i ask a question here, is it possible to hide all those Arduino lib files from showing in CLion as source files?
They are located in `/usr/share/arduino/hardware/*`, and CLion also complains about them being out of project folder.

Except that, everything works fine and CLion is much better than Arduino IDE, thank

[2018-05-17 21:46] Nihlus commented on #32
As with many things, it turns out the remaining problems were due to a PEBKAC error. I was specifying the full path to the libraries in question in `link_directories`, not the containing folder. All is well!

[2018-05-17 21:46] #32 closed, assigned to nobody

[2018-06-18 02:20] marthinwurer opened #83 "Example fails to build at `cmake ..`"
Hey all, I used to use the original version, and just now tried to use this fork as it seemed to be the most up to date one after a cursory search.

I'm having issues building with this version. This computer was able to build a basic example fine with the original repo, but now that I'm using this fork it fails while running `cmake`. Here's the shell output:

[code]

Any advice? I tried updating

[2018-06-22 23:11] necauqua commented on #5
I am sorry to bring this old thing up, but you really helped me with that `stty` trigger, as I was searching exactly how to make it reset itself from the command line.
My udev rule points both product ID's to the same symlink and it works.
So for me this setup works very well:
[code]

[2018-06-27 23:12] qwattash commented on #77
I am having the same issue. I have the same arduino SDK version running on archlinux.

It seems that the archlinux installation of the SDK is weird as you already noted.
From what I understand, in https://github.com/arduino-cmake/arduino-cmake/blob/e377f9ca58313d34fcbf3a9cb0d550ff24f7b43e/cmake/Platform/Initialization/RegisterHardwarePlatform.cmake#L1-L3:
but the platform path in archlinux should

[2018-06-29 12:25] MrPointer commented on #77
Hello all.
I'm the "maintainer" of this repo/fork and it's been quite a while since someone has updated anything here, and many might think that this version of **Arduino-CMake** is dead as well.
That's not the case, actually, but quite the opposite - I'm currently working on a completely new and refactored version of **Arduino-CMake**, one that has "Custom Platform Support" in it's very core.

I

[2018-07-04 10:38] kigster commented on #67
Unfortunately, adding these flags seems to make no difference:

[code]

[2018-07-04 10:50] kigster commented on #67
I've updated the [project](https://github.com/kigster/arduino-cmake-oversized-image) — please download it and run inside the project `./compile.sh` script.

[2018-07-05 19:00] lanouettea commented on #77
I too am trying to get another board configuration to work with my arduino-cmake project. The board is a Dragino Yun Uno ("unoyun" board name). The board manager json is available here http://www.dragino.com/downloads/downloads/YunShield/package_dragino_yun_test_index.json.
I've installed it using the board manager, and I am now trying to point my CMakeLists.txt file to this location by using

`se

[2018-07-06 15:31] lanouettea commented on #67
Hey @kigster ! I have been banging my head against the wall for a few hours trying to figure this one out on a project of mine in the past days. Turns out default compile flags do not strip unneeded symbols. I've checked the flags set by Arduino IDE and attempted to reproduce them on my end. Make sure you have the flags "-ffunction-sections -fdata-sections" added to your compiler flags. Here's wha

[2018-07-07 16:56] MrPointer commented on #77
@lanouettea Unfortunately no, I still haven't reached a stable version which could be published and tested.
About the problems with the current repo - I honestly have no idea what's going on there, I'm sorry ☹️

[2018-07-07 17:05] MrPointer commented on #67
@kigster @lanouettea Hi all.

As written in the latest comments in #77, a new version of Arduino-CMake is coming.
In the new version, this exact problem of non-matching binary size when compiling with IDE vs compiling with Arduino-CMake is completely solved - **The compiler and linker flags are depending directly on the SDK instead of setting them manually**. It guarantees that with every change t

[2018-07-08 06:53] kigster commented on #67
@lanouettea & @MrPointer — You are my heros! It works!

Adding these flags makes the binary *almost* the same as when built with Arduino IDE:

**Arduino**:
  * Sketch uses **26524 bytes (86%)** of program storage space. Maximum is 30720 bytes  .
  * Global variables use 918 bytes (44%) of dynamic memory, leaving 1130 bytes for local variables. Maximum is 2048 bytes.

**CMake**
  * Firmware Size:

[2018-07-08 06:55] kigster commented on #67
I had to change `-std=gnu++11` to `c++11`, and put it *before* I defined the toolchain. For quick reference, [here is the commit](https://github.com/kigster/arduino-cmake-oversized-image/commit/8306b544a92243455b0aba51d020fce253169252) to the repo that fixes the size issue.

[2018-07-09 22:14] kigster commented on #67
@MrPointer Is the new version on the develop branch? If so — are you interested in Beta testers?

[2018-07-10 12:10] lanouettea commented on #67
@kigster  I'm glad this helped you out! I too see a slight difference in file size, but this is negligible compared to the large discrepancies we had before.
@MrPointer I'm looking forward to this new version. As kigster mentioned, if you need beta testers eventually, I'm in as well! Thanks for reviving this project and keeping it alive!

[2018-07-10 18:47] comfix commented on #83
Same problem occurring on ArchLinux.
Used Arch-repo Arduino SDK 1.8.5

[2018-07-13 08:06] MrPointer commented on #67
@kigster @lanouettea
Actually the new version is yet to be hosted on GitHub, and moreover - **It will reside under a new repository**. Why am I doing this? A few reasons:
1. There are way too many forks out there for this project, people are easily lost between them, so there's no need for another one.
2. In fact, the new project is not even a fork of an older one - It's a **complete fresh start**

[2018-07-13 08:12] MrPointer commented on #83
@marthinwurer @comfix
Hi guys, please see my comment in https://github.com/arduino-cmake/arduino-cmake/issues/77#issuecomment-401338724 as it refers to a new version of Arduino-CMake that hopefully will solve your problems!

[2018-09-11 15:59] MrPointer commented on #83
@marthinwurer @comfix Hello again.
The new, updated framework is finally "online" and be found here: [Arduino-CMake-NG](https://github.com/arduino-cmake/Arduino-CMake-NG).
Although not all features have been ported to the new framework, you can comfortably try it!

[2018-09-11 16:02] MrPointer commented on #81
@DavidFair Hi David, It's been quite a while and in fact only now I noticed that nobody has ever commented on this issue, and I'm sorry for that.
With that being said, you should be informed that there's a new version of the framework available [here](https://github.com/arduino-cmake/Arduino-CMake-NG).
It deals with **build flags** in quite a smart way, leveraging those set by the Arduino team the

[2018-09-11 16:06] MrPointer commented on #80
@Green0Photon Hello, It's been a while and I noticed nobody has ever commented on this issue and I'm truly sorry for this - This repo hasn't been active for a long time now.
However, you should know there's a new version of the framework available [here](https://github.com/arduino-cmake/Arduino-CMake-NG).
I don't know if it'll solve this bug, but you should at least try it. If it doesn't, could yo

[2018-09-11 16:07] MrPointer commented on #67
@lanouettea @kigster The new framework/repo is finally up & running!
Check it out [here](https://github.com/arduino-cmake/Arduino-CMake-NG) - Should solve this exact problem as well as many others.

[2019-03-05 10:49] rileyrg commented on #79
Is this project still alive or is Arduino-CMake-NG the place to go. Not that I can get that working either of course ;)  Honest Q: is it beating a dead horse at this stage and better to just use platformIO? When I get "unknown" function for upload_arduino_target which is in their (arduino-cmake-ng) BASE example I have to wonder if there's any point.

[2019-03-07 20:42] MrPointer commented on #79
@rileyrg This project is completely **_stale and dead_**, it's written in **bold** in the Readme...
[Arduino-CMake-NG](https://github.com/arduino-cmake/Arduino-CMake-NG) is definitely your way to go now, as it replaces almost everything done by this project with newer & better code.

[2019-03-20 14:06] #76 closed, assigned to nobody